# Ignore graphics directory inside HGPLVM
/DSCs/graphics/npy/
/DSCs/data/
/HGPLVM/model_results_processing/


# It's generally a good idea to also ignore common Python-related files:
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis