# Ignore graphics directory inside HGPLVM
/DSCs/graphics/npy/
/DSCs/data/
/output_repository/MCCV/inter_model/ICANN/Bimanual 3D/cumul/
/output_repository/MCCV/inter_model/ICANN/Movements CMU/cumul/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis